In [6]:
li="   PRASANNA"
print(li.strip().title())

Prasanna

# Lambda expressions

In [8]:
#lambda expressions are anonymous functions
lambda x : 3(x)+2
#lambda is a key word in python and it says it is an anonymous function
#therefore we have to name the function

In [18]:
#lambda input : return
f=lambda x :3*x+2
print(f(2))

8

In [19]:
f=lambda firstname,lastname :firstname.strip().title()+" "+lastname.strip().title()
print(f("prasanna","  KUMAR"))

Prasanna Kumar

In [20]:
def build_quadratic_expression(a,b,c):
    return lambda x : a*x**2+b*x+c
print(build_quadratic_expression(2,3,4))

<function build_quadratic_expression.<locals>.<lambda> at 0x000002682743C7B8>

In [21]:
def build_quadratic_expression(a,b,c):
    return lambda x : a*x**2+b*x+c
f=build_quadratic_expression(2,3,4)
f(2)

18

# Map

In [23]:
def area(r):
    return 3.14*r**2
radii=[2,3,6,5]
li=map(area,radii)
print(list(li))

[12.56, 28.26, 113.04, 78.5]

In [28]:
#convert temperature to celicius
temps=[("Hyderabad",44),("Chennai",48),("Mumbai",40),("Banglore",35),("New Delhi",46)]
celicius=lambda data:(data[0],(9/5)*data[1]+32)
list(map(celicius,temps))

[('Hyderabad', 111.2),
 ('Chennai', 118.4),
 ('Mumbai', 104.0),
 ('Banglore', 95.0),
 ('New Delhi', 114.8)]

# Filter

In [35]:
import statistics
li=[5,3,8,9,1,10]
avg=statistics.mean(li)
list1=list(filter(lambda x :x if x>avg else None,li))
print(list1)
list2=list(filter(lambda x :x if x<avg else None,li))
print(list2)

[8, 9, 10]
[5, 3, 1]

In [36]:
names=["","Shalini","Malini","Naresh","","Mahesh",""]
li=list(filter(None,names))
print(li)

['Shalini', 'Malini', 'Naresh', 'Mahesh']

# Reduce

In [37]:
# multiply the list of prime numbers
li=[2,3,5,7,11,13,17,23]
product=1
for i in li:
    product=product*i
print(product)

11741730

In [38]:
#by using reduce
from functools import reduce
li=[2,3,5,7,11,13,17,23]
multiplier=lambda x,y:x*y
reduce(multiplier,li)

11741730